@import "~bootstrap/scss/bootstrap.scss";

body{
  font-family:arial,sans-serif;
  margin:3em;
  background:#666;
  color:#fff;
}

.todo{
    display: block;
    position: relative; 
    margin-top: 1rem;
    text-align: left;
    margin-bottom: 2rem;
    color:#000;
  background:#ffc;
}
.close-todo{
    position: absolute; 
     right: 10px;
}
h1{
    font-size: 4rem;
    padding-bottom: 1rem;
    letter-spacing: 3px;
    border-bottom: 2px solid;
}
.todos-list{
    margin-top: 1rem;
}
.row{
    display: -webkit-inline-box;
}
